#Unix Shortcuts
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias tlf="tail -f"
alias mkdir='mkdir -p'
alias ack='ack-grep'
alias diff='colordiff -u'
alias h='history'
alias hg='history | grep'
alias ch='history | grep "git commit"'

# Apache Tomcat:
alias tomcat=catalina

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# List all files colorized in long format, including dot files
alias l='ls'
alias la="ls -lAhF ${colorflag}"
alias ll="ls -Alp ${colorflag}"
alias lh='ls -Alhp ${colorflag}'
alias lt="ls --time-style='+%m-%d-%Y %H:%M:%S' -lpAUX"

# DOS Commands
alias ipconfig='ifconfig'
alias dir='ll'
alias chdir='pwd'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Misc. Aliases
alias e='exit'

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/id_local.pub | pbcopy | echo '=> rodney Public key copied to pasteboard.'"
alias workkey="more ~/.ssh/id_work.pub | pbcopy | echo '=> SmithR4 Public key copied to pasteboard.'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"
# Gracefully Quit Applications
alias chromequit="osascript -e 'quit app \"Chrome\"'"
alias outlookquit="osascript -e 'quit app \"Outlook\"'"
alias safariquit="osascript -e 'quit app \"Safari\"'"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias brewuu="brew update && brew upgrade && brew cask upgrade"
alias brewup="brew -v update; brew -v upgrade; brew -v cask upgrade; brew cleanup; brew doctor; brew config"
alias update_system='sudo softwareupdate -i -a; sudo chown -R $(whoami) /usr/local/lib'
alias update_npm='brew postinstall node; sudo npm install npm -g; sudo npm update -g; sudo gem update --system; sudo gem update'
alias update_python_all='pip3 install --upgrade pip; pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install --user; pip3 install -U conda'
alias update_office="cd /Library/Application\ Support/Microsoft/MAU2.0/Microsoft\ AutoUpdate.app/Contents/MacOS; ./msupdate -i; cd ~"
alias update_all='update_system; brewup; update_python_all; update_office'

alias flushdns="sudo killall -HUP mDNSResponder"
alias wifion="networksetup -setairportpower airport on"
alias wifioff="networksetup -setairportpower airport off"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Make holding down a key repeat characters
alias keyrepeaton="defaults write -g ApplePressAndHoldEnabled -bool FALSE"
alias keyrepeatoff="defaults write -g ApplePressAndHoldEnabled -bool TURE"

# Lock computer
alias lock='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

# Show filename extensions by default
alias showext="defaults write NSGlobalDomain AppleShowAllExtensions -bool true"
alias hideext="defaults write NSGlobalDomain AppleShowAllExtensions -bool false"

# Refesh shell
alias reload='source ~/.bash_profile'

# To prep before screencasts
alias tutMode='defaults write com.apple.dock autohide -bool true && killall Dock;
               defaults write com.apple.finder CreateDesktop -bool false && killall Finder;
               defaults write com.apple.menuextra.clock IsAnalog -bool true && killall SystemUIServer;
               rm -rf ~/.Trash/*;
               rm -rf ~/Downloads/*'
alias regMode='defaults write com.apple.dock autohide -bool false && killall Dock;
               defaults write com.apple.finder CreateDesktop -bool true && killall Finder;
               defaults write com.apple.menuextra.clock IsAnalog -bool false && killall SystemUIServer'

alias clean='rm -rf ~/.Trash/*'
